<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="listeners.MyListener"></listener>
    </listeners>
    <test verbose="2" preserve-order="true" name="C:/Users/HP ADMIN/Desktop/All/SL/DDTUdemy/DDTDemo">
        <classes>
            <class name="ddtPackage.Login">
                <methods>
                    <include name="testLogin"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>